# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
*.hprof
*.iml
.idea/
local.properties
.DS_Store
/captures/release.keystore
